<%- include header %>
<nav class="navbar navbar-default " role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">LOO</a>
   </div>
   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/home">用户列表</a></li>
      </ul>
   </div>
</nav>
<h1><%= user.name %>, 欢迎登录</h1>
<a class="btn btn-warning" href="/logout">注销</a>

<% for(var i = 0;i < users.length;i++){ %>
<div class="list-container">
  <div class="row">
    <div class="col-md-2">
       <img src="images/yeoman.png" alt="logo" class="img-circle" >
    </div>
    <div class="col-md-8">
      <h4><%= users[i].name %></h4>
      <p><%= users[i].saying %></p>
    </div>
    <form action="/follow" method="post">
      <fieldset>
    <input type="hidden" name="id" value="<%= users[i]._id %>">
<% if (!users[i].f) {%>
    <div class="col-md-2">
      <input class="btn btn-default" id="list-btn" type="submit" value="关注" >
<% } %>
<% if (users[i].f) {%>
    <div class="col-md-2">
      <input class="btn btn-default" id="list-btn" type="submit" value="已关注" >
<% } %>

<!--             <script language="javascript">
      function changeValue(){
          var btnVal=document.getElementById("list-btn");
          if(btnVal.value=="关注")
          {
              btnVal.value="已关注";
          }
          else
          alert("正在处理中，请您稍等。");
      }
      </script> -->
    </div>
    </fieldset>
    </form>
  </div>
 </div>
<% } %>

<%- include footer %>