<%- include header %>
<nav class="navbar navbar-default " role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">LOO</a>
   </div>
   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/home">用户列表</a></li>
      </ul>
   </div>
</nav>
<div class="container container-div" >
  <form class="form-login" method="post">
  <fieldset>
    <h2 class="form-login-heading" style="
    text-align: center;color: #ffffff;">注册</h2>
    <label for="inputTel" class="sr-only">手机号</label>
    <input type="tel" id="inputTel" class="form-control" placeholder="手机号" name="telephone" required autofocus></input>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="pwd" class="form-control" placeholder="密码" name="password" required>
    <label for="repeatPassword" class="sr-only">Password</label>
    <input type="password" id="pwd1" class="form-control" placeholder="重复密码" name="repassword" required>
    <label for="name" class="sr-only">用户名</label>
    <input type="text" id="inputName" class="form-control" placeholder="用户名" name="username" required>
    <label for="inputDirection" class="sr-only">简介</label>
    <input type="text" id="inputName" class="form-control" placeholder="简介" name="saying" required>
    <div id="login-div">
      <span class="text-span"> 
        <a href="/login">已有账号，点击登陆</a>
      </span>
      <span class="btn-span">  
       <button class="btn btn-primary" type="submit" >注册</button>
      </span>
    </div>
    </fieldset>
  </form>
</div>
<%- include footer %>